<div class = "maincontainer">
  <h2 class= "center-text">New list</h2>
  <%= simple_form_for [current_user, @list] do |f| %>
  <%= f.input :title, :label => 'List Name' %>
  <p>Select an order for your new list</p>
  <%= f.collection_select :order_id, User.find(params[:user_id]).household.orders, :id, :end_date, include_blank: true %>
    <%= f.submit class: "btn btn-main-blue-margin"%>
  <% end %>

    <% @lists_by_created.each_with_index do |list, i| %>
        <div class="my-3" style = "flex-direction: column">
          <%= link_to user_list_path(current_user, list), class: "text-decoration-none text-dark" do %>
          <div class="card-trip">
            <%= image_tag asset_path("shopping #{i%5}")%>
            <div class="card-trip-infos">
                <h2><%=list.title%></h2>
                <p class="card-trip-pricing">Created <%d = list.created_at %><%= d.strftime("%A %e %B") %></p>
            </div>
          </div>
        </div>
          <% end %>
    <% end %>
</div>
