<div class="container-list maincontainer">
  <h1 class="center-text"><%= @list.title %></h1>
  <div class="list-form">
    <div class="form" data-controller="items"  data-items-key-value=<%= ENV["SPOONACULAR_API_KEY"] %>>
      <%= simple_form_for [ @user, @list, @item ] do |f| %>
        <span data-action="keyup->items#apiQuery">
        <%= f.input :name, label: false, input_html: { "data-items-target" => "query" }, placeholder: 'Start typing to add to your list...' %>
        </span>
        <ul id="results" data-controller="items" >
          <%# search results from API will be inserted here %>
        </ul>
        <span class="quantity-unit">
          <%= f.input :quantity, as: :integer %>
          <%= f.input :unit %>
        </span>
        <span class="aisle-price">
          <%= f.input :category, :label => "Aisle" %>
          <%= f.input :price, :label => "Price (£)", as: :integer %>
        </span>
        <%= f.submit "Add item", class: "btn-sm-green" %>
      <% end %>
    </div>
  </div>

  <div class="" data-order-show-target="category">
    <div class= "categoryHeader1" data-order-show-target="stickyTop">
      <% unless @items_category[0].nil?%>
        <%=  @items_category[0].category %>
      <% end %>
    </div>
    <% unless @items_category[0].nil? %>
      <%= @items_category[0].name.capitalize%>, <%= @items_category[0].quantity%><%=@items_category[0].unit%><br>
        <% @items_category.each_cons(2) do |item| %>
          <% if item[0].category != item[1].category%>
            <div class= "categoryHeader2">
              <%= item[1].category %>
            </div>
          <% end %>
        <%=item[1].name.capitalize%>, <%= item[1].quantity%><%=item[1].unit%><br>
      <% end %>
    <% end %>
  </div>
  <%= button_to "Go to Order", household_order_path(household_id: @list.order.household.id, id: @list.order), method: "get", class: 'btn-sm-blue'%>
</div>
