<body class = "signup", style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),url('https://images.pexels.com/photos/1508668/pexels-photo-1508668.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" >
  <div class="hometext">
    <h1><strong>WILLKOMMEN ZU SUPERMARKT!<strong><h1>
    <h4>Streamline the group shop<h4>
  </div>
    <div class="buttonbox">
      <% if user_signed_in? %>
        <%= link_to "Get Started", new_household_path, class: "btn btn-main-blue" %>
      <%end%>
      <% if user_signed_in? %>
        <%= ""%>
      <% else%>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-main-green" %>
      <%end%>
      <% if user_signed_in? %>
        <%= "" %>
      <% else %>
        <%= link_to "Log In", user_session_path, class: "btn btn-main-blue" %>
      <%end%>
    </div>
</body>
