<h1>text</h1>
<div class="maincontainer">
  <div>
    <h1>SUPERMARKT</h1>
  </div>
  <div class="form-container container" >
    <%= simple_form_for @household do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :supermarket %>
    <br>
    <%= f.input : %>
    <%= f.input : %>
    <%= f.input : %>
    <%= f.input : %>
    <%= f.submit %>
    <% end %>
  </div >



</div>
