<div class="maincontainer">
  <h1 class="center-text title">New Household</h1>
  <div class="form-container container" >
    <%= simple_form_for @household do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :supermarket, :collection => %w[Asda Aldi Lidl Marks\ &\ Spencer Sainsburys Tesco Waitrose ] %>
    <%= f.submit class: "btn-sm-green"%>
    <% end %>
  </div >
</div>
