<div class="maincontainer">
  <div>
    <p style="text-align: center">NEW HOUSEHOLD INFO</p>
  </div>
  <div class="form-container container" >
    <%= simple_form_for [ @household ] do |f| %>
    <%= f.input :name, placeholder: 'give us a nickname' %>
    <%= f.input :address, placeholder: 'enter postcode' %>
    <%= f.input :supermarket, :collection => %w[Tesco Sainsburys Waitrose M&S] %>
    <%= f.association :housemates, :label_method => lambda { |housemate| "#{housemate.user.name}" }, include_hidden: false %>
    <%# <%= f.hidden_field :housemate_id, :value => @housemate.id %>
    <br>
    <%= f.submit class: "btn-sm-green"%>
    <% end %>
  </div >



</div>
