<div class="maincontainer">
  <div>
    <p style="text-align: center">Insert your order details below</p>
  </div>
  <div class="form-container container" >
    <%= simple_form_for @household do |f| %>
    <%= f.input :name, placeholder: 'give us a nickname' %>
    <%= f.input :address, placeholder: 'enter postcode' %>
    <%= f.input :supermarket, :collection => %w[Tesco Sainsburys Waitrose M&S] %>
    <br>
    <%= f.submit class: "btn-sm-green"%>
    <% end %>
  </div >



</div>
